
.section-main {
    padding-top: 144px;
    position: relative;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    .container, .row, .col-12 {
        height: 100%;
    }
    & > img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top;
    }
    &::before {
        content: '';
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(38, 38, 38, 0.4);
    }
}
.section-main-content {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-top: -20px;
    h1 {
        font-family: 'PT Serif', serif;
        font-weight: bold;
        font-size: 56px;
        line-height: 1.2;
        text-align: center;
        color: #FFFFFF;
        margin-top: 16px;
        margin-bottom: 41px;
        @include calc-height(margin-top, 16);
        @include calc-height(margin-bottom, 41);
    }
}
.btn-about-cond {
    @extend %BTN;
}
.subtitle {
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #fff;
}
// 2 block
.presrntaciya {
    padding: 0 19px;
    .col-12 {
        &:first-child {
            .presrntaciya-title {
                color: #62C6FF;
            }
            .presrntaciya-block {
                &::before {
                    background: linear-gradient(90deg, #252424 37.5%, rgba(37, 36, 36, 0.6) 100%);
                }
                &::after {
                    content: '01';
                }
            }
        }
        &:nth-child(2) {
            .presrntaciya-block {
                &::before {
                    background: linear-gradient(90deg, #004F7B 37.5%, rgba(0, 79, 123, 0.6) 100%);
                }
                &::after {
                    content: '02';
                    color: #0083CD;
                }
            }
        }
        &:last-child {
            .presrntaciya-title {
                color: #0083CD;
                & + p {
                    color: #434343;
                }
            }
            .presrntaciya-block {
                &::before {
                    background: linear-gradient(90deg, #F2EEE7 37.5%, rgba(242, 238, 231, 0.6) 100%);
                }
                &::after {
                    content: '03';
                    color: #FFFAF4;
                }
            }
        }
    }
}
.presrntaciya-block {
    position: relative;
    padding: 39px 47px 36px 112px;
    margin: 8px 4px;
    height: 100%;
    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
    &::before {
        content: '';
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    &::after {
        content: '';
        position: absolute;
        z-index: 2;
        top: 15px;
        left: 29px;
        font-family: 'PT Serif', serif;
        font-size: 160px;
        line-height: 160px;
        color: #3A3939;
    }
}
.presrntaciya-content {
    position: relative;
    z-index: 3;
    color: #fff;
}
.presrntaciya-title {
    font-family: 'PT Serif', serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 1.2;
    margin-bottom: 12px;
    & + p {
        font-size: 18px;
        line-height: 1.6;
    }
}
// 3 block
.main-prog {
    padding-top: 132px;
    padding-bottom: 140px;
    .subtitle {
        color: #0083CD;
        margin-bottom: 24px;
    }
    h2 {
        text-align: center;
        padding: 0 50px;
    }
}
.main-prog-wrp {
    display: flex;
    flex-wrap: wrap;
    margin-top: 80px;
    margin-bottom: 64px;
    padding-left: 1px;
    counter-reset: myCounter;
}
.main-prog-block {
    position: relative;
    width: 33.33%;
    flex-shrink: 0;
    border: 1px solid #434343;
    padding: 22px 30px 63px 32px;
    margin-left: -1px;
    &::before {
        content: "0" counter(myCounter);
        counter-increment: myCounter;
        position: absolute;
        top: -8px;
        left: -8px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80px;
        height: 80px;
        color: #fff;
        line-height: 1.2;
        font-size: 32px;
        font-family: 'PT Serif', serif;
        background-color: #0083CD;
        box-shadow: 0px 4px 8px rgba(0, 131, 205, 0.18), 0px 0px 2px rgba(0, 131, 205, 0.12), 0px 0px 1px rgba(0, 0, 0, 0.04);
    }
}
.main-prog-title {
    position: relative;
    padding-left: 72px;
    padding-bottom: 21px;
    position: relative;
    font-family: 'PT Serif', serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 1.2;
    color: #434343;
    margin-bottom: 30px;
    &::after {
        content: '';
        display: block;
        position: absolute;
        left: 72px;
        bottom: -1px;
        width: 222px;
        height: 1px;
        background: linear-gradient(to right, #014F7C 0%, #62C6FF 100%);
    }
}
.main-prog-list {
    li {
        p {
            &:first-child {
                color: #94A8B4;
                margin-bottom: 2px;
            }
        }
        & + li {
            margin-top: 16px;
        }
    }
}
.prog-screen-btn {
    @extend %BTN;
    width: 366px;
    margin: 0 auto;
}
// 4 block
.main-slider-section {
    min-height: 665px;
    position: relative;
    padding-top: 96px;
    padding-bottom: 111px;
    h2 {
        color: #62C6FF;
    }
    & > img {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top;
    }
    .container {
        position: relative;
        z-index: 3;
    }
    &::before {
        content: '';
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(90deg, #252424 37.5%, rgba(37, 36, 36, 0.6) 100%);
    }
}
.main-slider-text {
    p {
        font-size: 18px;
        line-height: 1.6;
        color: #FFFFFF;
        & + p {
            margin-top: 24px;
        }
    }
}
.slick-arrs-wrp {
    margin-top: 52px;
    display: flex;
    align-items: center;
    &.gray {
        .main-arrow {
            border-color: #CBD5DB;
            img {
                filter: brightness(0) saturate(100%) invert(14%) sepia(0%) saturate(7%) hue-rotate(178deg) brightness(108%) contrast(86%);
            }
        }
    }
    &.mob {
        display: none;
    }
}
.main-arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 98px;
    height: 48px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    cursor: pointer;
    &.prev-arrow {
        img {
            transform: rotate(180deg);
        }
    }
    & + .main-arrow {
        margin-left: 8px;
    }
    &.slick-disabled {
        img {
            opacity: .2;
        }
    }
}
.main-slider-wrp {
    position: absolute;
    z-index: 3;
    top: 112px;
    right: 0;
    width: 52vw;
    height: 100%;
}
.main-slider {
    .slick-list {
        padding: 0 20% 0 0;
    }
}
.main-slide-img {
    display: block;
    width: 100%;
    margin-bottom: 16px;
}
.main-slide {
    width: 267px;
    p {
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #FFFFFF;
    }
}
// 5 block
.trust-section {
    padding: 140px 0;
    .subtitle {
        color: #0083CD;
        margin-bottom: 24px;
    }
    h2 {
        text-align: center;
        margin-bottom: 72px;
    }
    .row {
        margin-left: -4px;
        margin-right: -4px;
    }
    .col-12 {
        padding: 0 4px;
    }
}
.trust-block {
    padding: 34px 28px 43px 32px;
    border: 1px solid #CBD5DB;
    background-color: #fff;
    height: 100%;
    img {
        width: 36px;
    }
}
.trust-title {
    margin-top: 34px;
    margin-bottom: 24px;
    font-family: 'PT Serif', serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 120%;
    color: #333333;
}
// 6 block
.main-insurance {
    position: relative;
    padding-top: 96px;
    padding-bottom: 285px;
    .subtitle {
        color: #0083CD;
        margin-bottom: 24px;
    }
    h2 {
        text-align: center;
        color: #fff;
        & + p {
            text-align: center;
            color: #fff;
            font-size: 18px;
            line-height: 1.6;
        }
    }
    & > img {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
    .container {
        position: relative;
        z-index: 3;
    }
    &::before {
        content: '';
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(0deg, #252424 0%, rgba(37, 36, 36, 0.6) 100%);
    }
}
.main-insurance2 {
    position: relative;
    z-index: 2;
    margin-top: -212px;
}
.main-insurance2-wrp {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-insurance2-img {
    display: block;
    margin: 0 12px;
    width: 210px;
    height: 296px;
    img {
        width: 100%;
    }
}
// 7 block
.partner-section {
    width: 100%;
    overflow: hidden;
    padding: 140px 0;
    .subtitle {
        color: #0083CD;
        margin-bottom: 24px;
        text-align: left;
    }
    h2 {
        margin-bottom: 72px;
    }
}
.partner-slider {
    .slick-list {
        overflow: visible;
        padding: 0 18% 0 0;
    }
    .slick-track {
        display: flex;
    }
    .slick-slide {
        height: inherit;
    }
}
.partner-slide {
    height: 100%;
    width: 445px;
    position: relative;
    padding: 32px 32px 56px;
    border: 1px solid #CBD5DB;
    background-color: #fff;
    cursor: pointer;
    & > img {
        width: 89px;
        height: 56px;
        object-fit: contain;
        object-position: left;
    }
    &:hover {
        .partner-slide-inner {
            opacity: 1;
        }
    }
}
.partner-slide-title {
    font-weight: bold;
    font-size: 24px;
    line-height: 120%;
    color: #333333;
    font-family: 'PT Serif', serif;
    margin-top: 32px;
    margin-bottom: 24px;
}
.partner-slide-inner {
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 1px;
    left: 1px;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    transition: .2s;
    & > img {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
    &::before {
        content: '';
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(0deg, rgba(51, 51, 51, 0.2), rgba(51, 51, 51, 0.2));
    }
}
.partner-slide-btn {
    @extend %BTN;
    position: relative;
    z-index: 3;
    width: 266px;
}
// 8 block
.review-section {
    position: relative;
    padding: 38px 0;
    margin-bottom: 140px;
    h2 {
        & + p {
            font-size: 18px;
            line-height: 160%;
        }
    }
}
.review-plashka {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 55vw;
    background-color: rgba(203, 213, 219, 0.2);
    img {
        width: 72px;
        position: absolute;
        top: 37px;
        left: -24px;
    }

}
.prev-rev-block {
    padding-top: 36px;
    padding-bottom: 25px;
}
.signature {
    margin-top: 34px;
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 24px;
    line-height: 120%;
    font-family: 'PT Serif', serif;
    & + p {
        color: #94A8B4;
    }
}
.read-all-btn {
    @extend %BTN;
    width: 266px;
    margin-top: 48px;
}
 // 9 block
.how-section {
    position: relative;
    padding-top: 96px;
    padding-bottom: 149px;
    counter-reset: howCounter;
    .container {
        position: relative;
        z-index: 3;
        &::after {
            content: '';
            width: 75%;
            height: 1px;
            position: absolute;
            left: 50%;
            margin-left: -37.5%;
            bottom: -37px;
            background: rgba(255, 255, 255, 0.4);
        }
    }
    h2 {
         color: #fff;
         text-align: center;
         margin-bottom: 64px;
    }
    & > img {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top;
    }
    &::before {
        content: '';
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, rgba(38, 38, 38, 0.8) 0%, #262626 100%);
    }
}
.how-block {
    height: 100%;
    padding: 32px 32px 45px;
    background: rgba(255, 255, 255, 0.04);
    border: 1px solid rgba(255, 255, 255, 0.4);
    &::before {
        content: counter(howCounter);
        counter-increment: howCounter;
        font-weight: bold;
        font-size: 96px;
        line-height: 88px;
        color: #62C6FF;
        font-family: 'PT Serif', serif;
    }
    &::after {
        content: '';
        position: absolute;
        z-index: 2;
        left: 50%;
        margin-left: -4px;
        bottom: -41px;
        width: 9px;
        height: 9px;
        border-radius: 50%;
        background-color: #62C6FF;
    }
}
.how-block-title {
    font-weight: bold;
    font-size: 24px;
    line-height: 120%;
    color: #FFFFFF;
    margin-top: 25px;
    margin-bottom: 16px;
    font-family: 'PT Serif', serif;
    & + p {
        color: rgba(255, 255, 255, 0.6);
    }
}
// 10 block
.section-form {
    h2 {
        text-align: center;
        margin-bottom: 24px;
        & + p {
            text-align: center;
            font-size: 18px;
            padding: 0 50px;
        }
    }
    .container {
        position: relative;
        padding-top: 126px;
    }
    .row {
        position: relative;
        z-index: 2;
    }
}
.section-form-img {
    opacity: 0.05;
    width: 75%;
    height: 100%;
    position: absolute;
    right: -40px;
    top: 0;
    & > img {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top;
    }
    &::before {
        content: '';
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(270deg, #FCFDFF 0%, rgba(252, 253, 255, 0) 23.12%);
    }
}
.form-plashka {
    position: relative;
    top: 37px;
    padding: 56px 40px 55px;
    background-color: #fff;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
    border-radius: 4px;
}
.input-form {
    width: 100%;
    @extend %input;
}
.input-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .input-style {
        width: calc(50% - 10px);
    }
}
.textarea-form {
    width: 100%;
    @extend %input;
    margin-top: 20px;
    margin-bottom: 27px;
}
.form-btn {
    @extend %BTN;
    width: 366px;
    margin: 0 auto;
    margin-top: 39px;
}
.footer-bottom {
    padding: 14px 0;
    background-color: #333333;
    font-size: 14px;
    line-height: 120%;
    letter-spacing: 0.01em;
    color: #94A8B4;
    a {
        line-height: 1.3;
        text-decoration: underline;
        &:hover {
            text-decoration: none;
        }
    }
}
.read-all-btn-mob {
    display: none;
}
// new tables 21.09
.main-prog h2 {
    margin-bottom: 60px;
}
.subtitle-prog {
    margin: 30px 0 20px;
    color: #0083CD;
    text-align: center;
    font-weight: 600;
    font-size: 22px;
    line-height: 1.2;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    & + p {
        text-align: center;
        font-size: 18px;
        margin-bottom: 40px;
    }
}
.new-prog-block {
    padding: 30px;
    background-color: darken(#ffffff, 5%);
    border-radius: 20px;
    border: 3px solid #94A8B4;
    & + .new-prog-block {
        margin-top: 40px;
    }
}
.new-table-wrp {
    display: flex;
}
.object-program-table {
    background: #ffffff;
    border-radius: 5px;
    padding: 30px;
    margin: 0 10px;
    width: 100%;
    .tr {
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        border-bottom: 1px dotted #cccccc;
        &:first-child {
            border-top: 1px dotted #cccccc;
        }
        .td {
            padding: 10px;
            width: 50%;
            &:first-child {
                color: #94A8B4;
            }
        }
    }
}
.new-prog-screen-btn {
    @extend %BTN;
    width: 300px;
    margin: 0 auto;
    margin-top: 35px;
    margin-bottom: 15px;
}

// pop-up
.pro-tabs-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 0;
    li {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 46px;
        font-size: 12px;
        font-weight: 500;
        border-radius: 100px;
        padding: 0 30px;
        margin: 0 7px;
        background-color: lighten(#94A8B4, 10%);
        letter-spacing: 0.1em;
        text-transform: uppercase;
        transition: .2s;
        cursor: pointer;
        &:hover {
            background-color: #94A8B4;
            color: #ffffff;
        }
        &.active {
            background-color: #0083CD;
            color: #ffffff;
            pointer-events: none;
        };
    }
}
.pop-up-general-block {
    &.pop-up-general-block-new {
        width: 800px;
        padding: 56px 43px;
        .bottom-part-popup {
            background-color: #F9F9FB;
            border-radius: 10px;
            padding: 40px 30px;
            h2 {
                text-align: center;
                & + p {
                    text-align: center;
                    margin-bottom: 30px;
                }
            }
            .new-flex-wrp {
                display: -webkit-flex;
                display: -ms-flex;
                display: flex;
                justify-content: space-between;
                margin: 0 -5px;
                .input-style {
                    width: calc(50% - 5px);
                    & + .input-style {
                        margin-top: 0;
                    }
                }
                & + p {
                    margin-top: 20px;
                    color: #94A8B4;
                    font-size: 14px;
                    text-align: center;
                    line-height: 1.3;
                    a {
                        transition: .2s;
                        &:hover {
                            color: #0083CD;
                        }
                    }
                }
            }
            .form-btn {
                width: calc(50% - 5px);
            }
        }
    }
}
.prog-tabs-body-wrp {
    margin-bottom: 30px;
}

.prog-tabs-body {
    display: none;
    table {
        max-width: 100%;
        width: 100%;
        thead th {
            border-right: 1px dotted #ccc;
           border-top: 1px dotted #ccc;
           font-weight: 700;
           min-width: 100px;
           padding: 15px 25px;
           text-align: center;
           vertical-align: middle;
           &:first-child {
               border-left: 1px dotted #ccc;
               text-align: left;
           }
        }
        tbody tr {
            border-bottom: 1px dotted #ccc;
            &:first-child {
                border-top: 1px dotted #ccc;
            }
            td {
                border-right: 1px dotted #ccc;
                margin: 5px;
                padding: 15px 25px;
                text-align: center;
                &:first-child {
                    border-left: 1px dotted #ccc;
                    text-align: left;
                    white-space: nowrap;
                }
            }
        }

    }
    &.active {
        display: block;
    }
}
.table-scroll {
    overflow: auto;
    & + table {
        margin-top: 20px;
        td {
            &:first-child {
                font-weight: 700;
            }
        }
    }
}
@media (max-width: 991px) {
    .pop-up-general-block.pop-up-general-block-new {
        padding: 45px 15px;
    }
    .new-table-wrp {
        display: block;
    }
    .new-prog-block {
        background-color: transparent;
        padding: 30px 15px;
        margin-right: -15px;
        margin-left: -15px;
        border-radius: 0;
        border: none;
        & + .new-prog-block {
            margin-top: 0;
        }
    }
    .object-program-table {
        padding: 30px 15px;
        margin: 0;
        box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.2);
        & + .object-program-table {
            margin-top: 30px;
        }
    }
    .prog-tabs-body table {
        thead th {
            padding: 10px;
            white-space: normal;
        }
        tbody tr td {
            padding: 10px;
            &:first-child {
                white-space: normal;
            }
        }
    }
}
@media (max-width: 767px) {
    .pop-up-general-block.pop-up-general-block-new {
        padding: 45px 15px 0;
        .bottom-part-popup {
            padding: 40px 15px;
            margin-right: -15px;
            margin-left: -15px;
            h2 {
                margin-bottom: 16px;
                & + p {
                    line-height: 1.4;
                }
            }
        }
    }
    .main-prog h2 {
        margin-bottom: 0;
    }
    .pro-tabs-btn {
        margin: 25px 0 40px;
        flex-direction: column;
        li {
            width: 200px;
            margin: 5px 0;
        }
    }
    .prog-tabs-body .table-scroll table tbody tr td:first-child {
        white-space: nowrap;
    }
}
// end new tables 21.09
@media (max-width: 1360px) {
    .main-slider .slick-list {
        padding: 0 12% 0 0;
    }
}
@media (max-width: 1199px) {
    .main-slider-wrp {
        width: 40vw;
    }
    .main-slider .slick-list {
        padding: 0 22% 0 0;
    }
    .partner-slider .slick-list {
        padding: 0 0% 0 0;
    }
    .how-block {
        padding: 30px 15px;
    }
    .main-prog-block {
        width: 50%;
        margin-top: -1px;
    }
    .presrntaciya-block {
        padding-left: 62px;
    }
}
@media (max-width: 991px) {
    .main-prog h2 {
        padding: 0;
    }
    .main-slider .slick-list {
        padding: 0 10% 0 0;
    }
    .trust-section {
        padding: 100px 0;
        .row {
            margin: 0;
        }
        .col-12 {
            padding: 0;
            margin-bottom: 30px;
        }
    }
    .review-plashka {
        display: none;
    }
    .prev-rev-block {
        margin-top: 50px;
        position: relative;
        padding: 50px 40px 60px 82px;
        background-color: rgba(203, 213, 219, 0.2);
        &::before {
            position: absolute;
            content: '';
            width: 72px;
            height: 72px;
            top: 32px;
            left: -32px;
            background: url('../img/quote.svg') center no-repeat;
            background-size: contain;
        }
    }
    .how-section {
        padding-bottom: 80px;
        .col-12 {
            margin-bottom: 70px;
        }
        .container::after {
            bottom: 33px;
        }
    }
}
@media (max-width: 800px) {
    .main-slider .slick-list {
        padding: 0 0% 0 0;
    }
    .partner-slider .slick-list {
        padding: 0 22% 0 0;
    }
}
@media (max-width: 767px) {
    .partner-slide-title {
        margin-top: 22px;
        margin-bottom: 20px;
    }
    .section-main-content {
        margin-top: -40px;
        @include calc-height(margin-top, -40);
        h1 {
            font-size: 46px;
            margin-top: 40px;
            margin-bottom: 60px;
            @include calc-height(margin-top, 40);
            @include calc-height(margin-bottom, 61);
        }
    }
    .main-slider-wrp {
        margin-top: 35px;
        top: 0;
        padding-left: 15px;
        width: 100%;
        position: relative;
    }
    .main-slider .slick-list {
        padding: 0 16% 0 0;
    }
    .partner-slider .slick-list {
        padding: 0 0% 0 0;
    }
    .partner-slide {
        width: 95%;
    }
    .slick-arrs-wrp {
        &.desc {
            display: none;
        }
        &.mob {
            display: flex;
            position: relative;
            z-index: 3;
            justify-content: center;
        }
    }
    .how-section {
        .col-12:last-child {
            .how-block::after {
                display: none;
            }
        }
        .container::after {
            display: none;
        }
    }
    .form-plashka {
        .input-flex {
            display: block;
            .input-style {
                width: 100%;
                & + .input-style {
                    margin-top: 20px;
                }
            }
        }
    }
    .footer-top {
        padding-top: 69px;
        padding-bottom: 51px;
        .flex {
            flex-direction: column;
            ul {
                margin-top: 30px;
            }
        }
    }
    .footer-bottom {
        padding: 20px 0px;
        .flex {
            flex-direction: column;
            *:nth-child(2) {
                margin: 10px 0;
            }
        }
    }
    .presrntaciya {
        margin-top: 4px;
    }
    .presrntaciya-block {
        margin: 4px;
        height: auto;
    }
    .main-prog-block {
        width: 100%;
    }
    .main-prog-title {
        padding-left: 62px;
        &::after {
            left: 62px;
        }
    }
    .main-prog {
        padding: 100px 0;
    }
    .main-prog-wrp {
        margin-top: 60px;
        margin-bottom: 54px;
    }
    .prog-screen-btn {
        width: 100%;
    }
    .trust-section h2 {
        margin-bottom: 52px;
    }
    .main-insurance {
        padding-bottom: 165px;
    }
    .main-insurance2 {
        margin-top: -112px;
    }
    .partner-section {
        padding: 20px 0 75px;
        h2 {
            margin-bottom: 52px;
        }
    }
    .read-all-btn-desc {
        display: none;
    }
    .read-all-btn-mob {
        display: flex;
        width: 100%;
    }
    .prev-rev-block {
        margin-top: 35px;
        padding: 35px 26px 50px 42px;
        &::before {
            width: 38px;
            height: 38px;
            top: 22px;
            left: -10px;
        }
    }
    .slick-arrs-wrp {
        margin-top: 40px;
    }
    .review-section {
        padding: 10px 0 28px;
        margin-bottom: 70px;
    }
    .how-section {
        padding-bottom: 40px;
        h2 {
            margin-bottom: 54px;
        }
    }
    .section-form-img {
        right: 0;
        width: 100%;
    }
    .section-form {
        h2 {
            & + p {
                padding: 0;
            }
        }
        .container {
            padding-top: 95px;
        }
    }
    .form-plashka {
        padding: 42px 20px 50px;
    }
    .form-btn {
        width: 100%;
        margin-top: 29px;
    }
}
