<div class="zaimi-page">
    <div class="saving-first pt144">
        <img src="../../build/img/zaimi-bg.png" alt="">
        <div class="container">
            <div class="row">
                <div class="offset-xl-2 offset-lg-1 offset-0 col-xl-8 col-lg-10 col-12">
                    <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h2>
                    <ul class="stranger-list">
                        <li>
                            <p>17</p>
                            <p>Подано заявок</p>
                        </li>
                        <li>
                            <p>43</p>
                            <p>Обработано звонков</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- 2 block  -->
    <section class="main-prog">
        <div class="container">
            <p class="subtitle">сберегательные программы</p>
            <h2>Сравните варианты сберегательных программ и&nbsp;выберите подходящую для вас</h2>
            <div class="discount-block-checkbox">
                <p class="discount-text bonus">
                    <span>С обеспечением</span>
                </p>
                <div class="checkbox-round-wrp">
                    <label class="checkbox-round">
                        <input type="checkbox" checked="">
                        <div class="checkbox__text-round"></div>
                    </label>
                </div>
                <p class="discount-text discount active">
                    <span>Без обеспечения</span>
                </p>
            </div>
            <div class="main-prog-wrp main-prog-wrp-tab bonus">
                <div class="main-prog-block">
                    <p class="main-prog-title">Пенсионная</p>
                    <ul class="main-prog-list">
                        <li>
                            <p>Процентная ставка:</p>
                            <p>27-25,5 %</p>
                        </li>
                        <li>
                            <p>На срок:</p>
                            <p>От 2 месяцев до 5 лет</p>
                        </li>
                        <li>
                            <p>Залог:</p>
                            <p>Автомобиль</p>
                        </li>
                        <li>
                            <p>Погашение займа:</p>
                            <p>Ежемесячно аннуитетными платежами. Дифференцированный, в конце срока (по решению Кооператива).</p>
                        </li>
                    </ul>
                </div>
                <div class="main-prog-block">
                    <p class="main-prog-title">Сберегательная</p>
                    <ul class="main-prog-list">
                        <li>
                            <p>Процентная ставка:</p>
                            <p>24-21 %</p>
                        </li>
                        <li>
                            <p>На срок:</p>
                            <p>От 2 месяцев до 5 лет</p>
                        </li>
                        <li>
                            <p>Залог:</p>
                            <p>Недвижимость</p>
                        </li>
                        <li>
                            <p>Погашение займа:</p>
                            <p>Ежемесячно аннуитетными платежами. Дифференцированный, в конце срока (по решению Кооператива).</p>
                        </li>
                    </ul>
                </div>
                <div class="main-prog-block">
                    <p class="main-prog-title">Инвестиционная</p>
                    <ul class="main-prog-list">
                        <li>
                            <p>Процентная ставка:</p>
                            <p>24-21 %</p>
                        </li>
                        <li>
                            <p>На срок:</p>
                            <p>От 2 месяцев до 5 лет</p>
                        </li>
                        <li>
                            <p>Залог:</p>
                            <p>Недвижимость</p>
                        </li>
                        <li>
                            <p>Погашение займа:</p>
                            <p>Ежемесячно аннуитетными платежами. Дифференцированный, в конце срока (по решению Кооператива).</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="main-prog-wrp main-prog-wrp-tab discount active">
                <div class="main-prog-block">
                    <p class="main-prog-title">Пенсионная2</p>
                    <ul class="main-prog-list">
                        <li>
                            <p>Процентная ставка:</p>
                            <p>27-25,5 %</p>
                        </li>
                        <li>
                            <p>На срок:</p>
                            <p>От 2 месяцев до 5 лет</p>
                        </li>
                        <li>
                            <p>Залог:</p>
                            <p>Автомобиль</p>
                        </li>
                        <li>
                            <p>Погашение займа:</p>
                            <p>Ежемесячно аннуитетными платежами. Дифференцированный, в конце срока (по решению Кооператива).</p>
                        </li>
                    </ul>
                </div>
                <div class="main-prog-block">
                    <p class="main-prog-title">Сберегательная2</p>
                    <ul class="main-prog-list">
                        <li>
                            <p>Процентная ставка:</p>
                            <p>24-21 %</p>
                        </li>
                        <li>
                            <p>На срок:</p>
                            <p>От 2 месяцев до 5 лет</p>
                        </li>
                        <li>
                            <p>Залог:</p>
                            <p>Недвижимость</p>
                        </li>
                        <li>
                            <p>Погашение займа:</p>
                            <p>Ежемесячно аннуитетными платежами. Дифференцированный, в конце срока (по решению Кооператива).</p>
                        </li>
                    </ul>
                </div>
                <div class="main-prog-block">
                    <p class="main-prog-title">Инвестиционная2</p>
                    <ul class="main-prog-list">
                        <li>
                            <p>Процентная ставка:</p>
                            <p>24-21 %</p>
                        </li>
                        <li>
                            <p>На срок:</p>
                            <p>От 2 месяцев до 5 лет</p>
                        </li>
                        <li>
                            <p>Залог:</p>
                            <p>Недвижимость</p>
                        </li>
                        <li>
                            <p>Погашение займа:</p>
                            <p>Ежемесячно аннуитетными платежами. Дифференцированный, в конце срока (по решению Кооператива).</p>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- <div class="prog-screen-btn">Оформить заявку</div> -->
        </div>
    </section>
    <!-- 3 block  -->
    <section class="neccesery-section">
        <div class="neccesery-bg">
            <img src="../../build/img/nec-bg.png" alt="">
        </div>
        <div class="container">
            <p class="subtitle">что необходимо</p>
            <h2>Требования к заёмщику и залогу</h2>
            <div class="row">
                <div class="col-lg-4 col-12">
                    <div class="treb-block">
                        <p class="treb-title">К коммерческой недвижимости</p>
                        <ul class="treb-list">
                            <li>Финансовый отчет предприятия.</li>
                            <li>Справки по технико-экономическому обоснованию получения финансирования.</li>
                            <li>Бумаги, подтверждающие право собственности на залоговый объект.</li>
                            <li>Технические и кадастровые документы.</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-12">
                    <div class="treb-block">
                        <p class="treb-title">К жилой недвижимости</p>
                        <ul class="treb-list">
                            <li>Объект залога — комната, квартира или таунхаус.</li>
                            <li>Недвижимость должна соответствовать требованиям N 102-ФЗ «Об ипотеке (залоге недвижимости)».</li>
                            <li>Все собственники —  залогодатели по договору займа.</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-12">
                    <div class="treb-block">
                        <p class="treb-title">К автомобилю</p>
                        <ul class="treb-list">
                            <li>Объект залога — автомобиль, регистрируется кооперативом самостоятельно через нотариальный реестр залоговых автомобилей.</li>
                            <li>Автомобиль остаётся в пользовании владельца</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- 4 block  -->
    <section class="need-doc-section">
        <div class="container">
            <h2>Вам понадобятся следующие документы</h2>
            <div class="need-block">
                <img src="../../build/img/need1-bg.png" alt="">
                <div class="need-block-content">
                    <p class="need-title">Необходимые документы c&nbsp;обеспечением автомобиля</p>
                    <div class="row">
                        <div class="col-xl-5 col-md-6 col-12">
                            <ul class="need-list">
                                <li>Паспорт гражданина РФ</li>
                                <li>СНИЛС</li>
                                <li>Документ о доходе (справка 2-НДФЛ, или выписка о движениях набанковской карте, или справка о  пенсии,  или иной).</li>
                            </ul>
                        </div>
                        <div class="offset-xl-1 offset-0 col-xl-5 col-md-6 col-12">
                            <ul class="need-list">
                                <li>ПТС и СТС на автомобиль</li>
                                <li>ОСАГО</li>
                                <li>ДКП (если есть)</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="need-block">
                <img src="../../build/img/need2.jpg" alt="">
                <div class="need-block-content">
                    <p class="need-title">Необходимые документы с&nbsp;обеспечением недвижимости</p>
                    <div class="row">
                        <div class="col-xl-5 col-md-6 col-12">
                            <ul class="need-list">
                                <li>Подтверждение дохода (справка 2-НДФЛ, либо справка о доходах с места работы, заверенная руководителем, банковская выписка с лицевого счета).</li>
                                <li>Страховое свидетельство государственного пенсионного страхования</li>
                            </ul>
                        </div>
                        <div class="offset-xl-1 offset-0 col-xl-5 col-md-6 col-12">
                            <ul class="need-list">
                                <li>Предоставление согласия супруга/супруги заемщика на займ, либо заключение договора поручительства супруга/супруги будет являться преимуществом для получения займа.</li>
                                <li>•Паспорт гражданина РФ</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- 9 block  -->
    <section class="how-section">
        <img src="../../build/img/bg9.png" alt="">
        <div class="container">
            <h2>Как заключить договор и начать зарабатывать</h2>
            <div class="row">
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="how-block">
                        <p class="how-block-title">Lorem ipsum dolor sit</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacu.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="how-block">
                        <p class="how-block-title">Dolor quam pretium</p>
                        <p>Orci consectetur sed imperdiet et lacinia. Ornare elit imperdiet id proin ut malesuada neque, congue commodo.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="how-block">
                        <p class="how-block-title">Morbi egestas varius</p>
                        <p>Eget scelerisque eget blandit diam. Bibendum tristique condimentum amet amet.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="how-block">
                        <p class="how-block-title">Consectetur metus, nisl</p>
                        <p>Diam nullam nulla accumsan faucibus facilisi turpis venenatis velit cras. At donec adipiscing diam ut egestas facilisi nunc lacus, nisl.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- 10 block  -->
    <section class="section-form">
        <div class="container">
            <div class="section-form-img">
                <img src="../../build/img/bg10.jpg" alt="">
            </div>
            <div class="row">
                <div class="offset-xl-1 offset-0 col-xl-10 col-12">
                    <h2>Оставьте заявку!</h2>
                    <p>Заполните и отправьте форму ниже. После этого, наш специалист свяжется с вами в&nbsp;ближайшее время, поможет подобрать программу сбережений и ответит на все вопросы</p>
                    <form id="valid1" action="#">
                        <div class="form-plashka">
                            <div class="input-flex">
                                <div class="input-style">
                                    <input class="input-form input-valid" type="text" data-input="name" name="name" placeholder="Имя*">
                                    <p class="input-error">Ошибка ввода</p>
                                </div>
                                <div class="input-style">
                                    <input class="input-form input-valid mask-phone" type="tel" data-input="phone" name="phone" placeholder="Номер телефона*">
                                    <p class="input-error">Ошибка ввода</p>
                                </div>
                            </div>
                            <textarea class="textarea-form" name="name" placeholder="Ваш комментарий"></textarea>
                            <label class="checkbox">
                                <input class="checkbox-check" type="checkbox">
                                <div class="checkbox__text">Я согласен с <a href="/policy"> политиками конфиденциальности</a></div>
                            </label>
                            <input class="form-btn btn-checkbox btn-checkbox-disabled" type="submit" name="" value="Связаться">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>
