<div class="about-page">
    <section class="section-main">
        <img src="../../build/img/predsed.png" alt="">
        <div class="container">
            <div class="row">
                <div class="offset-xl-1 offset-0 col-xl-5 col-lg-6 col-md-8 col-12">
                    <div class="about-main-content">
                        <h2>О председателе</h2>
                        <div class="about-main-quote">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>
                        </div>
                        <div class="about-signa">
                            <p class="about-signa-name">Иванов Иван Иванович</p>
                            <p>Председатель Правления кооператива</p>
                            <p>Более 10 лет работы в финансовой сфере</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- 2 block  -->
    <section class="benefits-section">
        <div class="container">
            <div class="benefits-wrp">
                <div class="benefits-block benefits-block-first">
                    <h2>Преимущества кооператива</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.</p>
                </div>
                <div class="benefits-block benefits-block-other">
                    <div class="benefits-img">
                        <img src="../../build/img/ben2.png" alt="">
                    </div>
                    <div class="benefits-info">
                        <img src="../../build/img/ben-icon1.svg" alt="">
                        <p class="ben-subtitle">гибкость <br>условий</p>
                        <p class="ben-change-text">Выполнение всех требований по формированию резервных фондов</p>
                    </div>
                </div>
                <div class="benefits-block benefits-block-other">
                    <div class="benefits-img">
                        <img src="../../build/img/ben3.png" alt="">
                    </div>
                    <div class="benefits-info">
                        <img src="../../build/img/ben-icon2.svg" alt="">
                        <p class="ben-subtitle">Выполнение всех <br> требований</p>
                        <p class="ben-change-text">Выполнение всех требований по формированию резервных фондовВыполнение всех требований по формированию резервных фондов</p>
                    </div>
                </div>
                <div class="benefits-block benefits-block-other">
                    <div class="benefits-img">
                        <img src="../../build/img/ben4.png" alt="">
                    </div>
                    <div class="benefits-info">
                        <img src="../../build/img/ben-icon3.svg" alt="">
                        <p class="ben-subtitle">выплата <br>процентов</p>
                        <p class="ben-change-text">Выполнение всех требований</p>
                    </div>
                </div>
                <div class="benefits-block benefits-block-other">
                    <div class="benefits-img">
                        <img src="../../build/img/ben5.png" alt="">
                    </div>
                    <div class="benefits-info">
                        <img src="../../build/img/ben-icon4.svg" alt="">
                        <p class="ben-subtitle">высокие процентные <br> ставки</p>
                        <p class="ben-change-text">формированию резервных фондовВыполнение всех требований по формированию резервных фондов</p>
                    </div>
                </div>

                <div class="benefits-block benefits-block-other">
                    <div class="benefits-img">
                        <img src="../../build/img/ben6.png" alt="">
                    </div>
                    <div class="benefits-info">
                        <img src="../../build/img/ben-icon5.svg" alt="">
                        <p class="ben-subtitle">Страхование <br>вложений</p>
                        <p class="ben-change-text">Выполнение всех требований по формированию резервных фондовВыполнение всех требований по формированию резервных фондов</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- 3 block  -->
    <section class="main-slider-section">
        <img src="../../build/img/bg-slider.jpg" alt="">
        <div class="container">
            <div class="row">
                <div class="col-xl-5 col-md-6 col-12">
                    <h2>Контроль государства и&nbsp;страхование сбережений</h2>
                    <div class="main-slider-text">
                        <p>Мы строго соблюдаем законы РФ и отраслевые стандарты. Имеем все разрешительные документы для осуществления деятельности.</p>
                        <p>Ведем регулярную отчетность перед контролирующими органами и пайщиками кооператива.</p>
                    </div>
                    <div class="slick-arrs-wrp desc">
                        <div class="main-arrow prev-arrow prev-main-arrow">
                            <img src="../../build/img/arrow.svg" alt="">
                        </div>
                        <div class="main-arrow next-main-arrow">
                            <img src="../../build/img/arrow.svg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-slider-wrp">
            <div class="main-slider">
                <div>
                    <div class="main-slide">
                        <a class="main-slide-img fancy-link" href="../../build/img/inn.png">
                            <img src="../../build/img/inn.png" alt="">
                        </a>
                        <p>ИНН</p>
                    </div>
                </div>
                <div>
                    <div class="main-slide">
                        <a class="main-slide-img fancy-link" href="../../build/img/inn2.png">
                            <img src="../../build/img/inn2.png" alt="">
                        </a>
                        <p>Свидетельство о регистрации кооператива</p>
                    </div>
                </div>
                <div>
                    <div class="main-slide">
                        <a class="main-slide-img fancy-link" href="../../build/img/inn3.png">
                            <img src="../../build/img/inn3.png" alt="">
                        </a>
                        <p>Свидетельство члена СРО</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="slick-arrs-wrp mob">
            <div class="main-arrow prev-arrow prev-main-arrow">
                <img src="../../build/img/arrow.svg" alt="">
            </div>
            <div class="main-arrow next-main-arrow">
                <img src="../../build/img/arrow.svg" alt="">
            </div>
        </div>
    </section>
</div>
