<div class="menu">
    <div class="btn-menu-close"></div>
    <div class="menu-overlay"></div>
    <div class="menu-content">
        <a class="header-tel flex" href="tel:8 (800) 123-45-67">
            <img src="../../build/img/phone.svg" alt="">
            <span>8 (800) 123-45-67</span>
        </a>
        <ul class="menu-list">
            <li class="active"><a href="#">Главная</a></li>
            <li><a href="#">Займы</a></li>
            <li><a href="#">Сбережения</a></li>
            <li><a href="#">Отзывы</a></li>
            <li><a href="#">О компании</a></li>
            <li><a href="#">Партнёры</a></li>
            <li><a href="#">Документы</a></li>
            <li><a href="#">Новости</a></li>
            <li><a href="#">Контакты</a></li>
        </ul>
    </div>
</div>
