<div class="partner-page pt144">
    <div class="container">
        <p class="back-arrow">
            <img src="../../build/img/back.svg" alt="">
            <span>Назад</span>
        </p>
        <h2>Lorem ipsum dolor sit amet, consectetur</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus</p>
        <div class="general-partner">
            <div class="general-partner-slider">
                <div>
                    <a href="../../build/img/part1.png" class="general-partner-slide fancy-link">
                        <img src="../../build/img/part1.png" alt="">
                    </a>
                </div>
                <div>
                    <a href="../../build/img/part2.png" class="general-partner-slide fancy-link">
                        <img src="../../build/img/part2.png" alt="">
                    </a>
                </div>
                <div>
                    <a href="../../build/img/part3.png" class="general-partner-slide fancy-link">
                        <img src="../../build/img/part3.png" alt="">
                    </a>
                </div>
                <div>
                    <a href="../../build/img/part1.png" class="general-partner-slide fancy-link">
                        <img src="../../build/img/part1.png" alt="">
                    </a>
                </div>
            </div>
            <div class="slick-arrs-wrp gray">
                <div class="main-arrow prev-arrow prev-part2-arrow">
                    <img src="../../build/img/arrow.svg" alt="">
                </div>
                <div class="main-arrow next-part2-arrow">
                    <img src="../../build/img/arrow.svg" alt="">
                </div>
            </div>
        </div>
        <!-- 2 block  -->
        <div class="plashka-contact-partner">
            <h3>Контакты:</h3>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-12">
                    <ul class="plashka-contact-list">
                        <li>
                            <span>Тел.:</span>
                            <a href="tel:+7 (968) 334-90-09">+7 (968) 334-90-09</a>
                        </li>
                        <li>
                            <span>Тел.:</span>
                            <a href="tel:+7 (926) 587-37-87">+7 (926) 587-37-87</a>
                        </li>
                        <li>
                            <span>Адрес:</span>
                            <a href="https://yandex.ru/maps/10722/voskresensk/house/zavodskaya_ulitsa_1/Z0EYcQdnTk0BQFtvfX9xd3xiYQ==/?ll=38.707785%2C55.306015&z=17.09" target="_blank">Мос. обл., г. Воскресенск, ул. Заводская, д. 1, помещение 2А</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <ul class="plashka-contact-list">
                        <li>
                            <span>E-mail:</span>
                            <a href="mailto:info@zkbi-lider.ru">info@zkbi-lider.ru</a>
                        </li>
                        <li>
                            <span>Сайт:</span>
                            <a href="https://zkbi-lider.ru/" target="_blank">https://zkbi-lider.ru/</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <ul class="plashka-contact-list">
                        <li>
                            <span>ОГРН</span>
                            <span>1185022006817</span>
                        </li>
                        <li>
                            <span>ИНН</span>
                            <span>5005066212</span>
                        </li>
                        <li>
                            <span>КПП</span>
                            <span>500501001140200</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- 3 block  -->
    <section class="partner-section">
        <div class="container">
            <h2>Смотрите еще партнёров</h2>
            <div class="partner-slider">
                <div>
                    <div class="partner-slide">
                        <img src="../../build/img/partner11.png" alt="">
                        <p class="partner-slide-title">Завод керамзитобетонных изделий «Лидер»</p>
                        <p>Pharetra, sapien sem id curabitur adipiscing quam ac. Arcu volutpat, massa tincidunt pellentesque. Urna, suscipit tristique ultricies enim convallis urna. sapien sem id curabitur adipiscing quam ac. Arcu volutpat, massa tincidunt pellentesque. Urna, suscipit tristique ultricies enim convallis urna</p>
                        <div class="partner-slide-inner">
                            <img src="../../build/img/partner1.png" alt="">
                            <a href="#" class="partner-slide-btn">подробнее</a>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="partner-slide">
                        <img src="../../build/img/partner12.png" alt="">
                        <p class="partner-slide-title">«Фабрика Креативного Стеклопакета»</p>
                        <p>Pharetra, sapien sem id curabitur adipiscing quam ac. Arcu volutpat, massa tincidunt pellentesque. Urna, suscipit tristique ultricies enim convallis urna</p>
                        <div class="partner-slide-inner">
                            <img src="../../build/img/partner1.png" alt="">
                            <a href="#" class="partner-slide-btn">подробнее</a>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="partner-slide">
                        <img src="../../build/img/partner13.png" alt="">
                        <p class="partner-slide-title">Гостиница «Landmark City Hostel»</p>
                        <p>Pharetra, sapien sem id curabitur adipiscing quam ac. Arcu volutpat, massa tincidunt pellentesque. Urna, suscipit tristique ultricies enim convallis urna</p>
                        <div class="partner-slide-inner">
                            <img src="../../build/img/partner1.png" alt="">
                            <a href="#" class="partner-slide-btn">подробнее</a>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="partner-slide">
                        <img src="../../build/img/partner14.png" alt="">
                        <p class="partner-slide-title">Отель «Калифорния»</p>
                        <p>Pharetra, sapien sem id curabitur adipiscing quam ac. Arcu volutpat, massa tincidunt pellentesque. Urna, suscipit tristique ultricies enim convallis urna</p>
                        <div class="partner-slide-inner">
                            <img src="../../build/img/partner1.png" alt="">
                            <a href="#" class="partner-slide-btn">подробнее</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slick-arrs-wrp gray">
                <div class="main-arrow prev-arrow prev-part-arrow">
                    <img src="../../build/img/arrow.svg" alt="">
                </div>
                <div class="main-arrow next-part-arrow">
                    <img src="../../build/img/arrow.svg" alt="">
                </div>
            </div>
        </div>
    </section>
</div>
