<main>
    <section class="section-main">
        <img src="../../build/img/1bg.png" alt="">
        <div class="container">
            <div class="row">
                <div class="offset-xl-2 offset-lg-1 offset-0 col-xl-8 col-lg-10 col-12">
                    <div class="section-main-content">
                        <p class="subtitle">Подпись к утп</p>
                        <h1>Получайте стабильный и&nbsp;высокий доход</h1>
                        <div class="btn-about-cond">Узнать условия по&nbsp;сбережениям</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- 2 block  -->
    <section class="presrntaciya">
        <div class="row">
            <div class="col-md-4 col-12 p-0">
                <div class="presrntaciya-block">
                    <img src="../../build/img/preza1.jpg" alt="">
                    <div class="presrntaciya-content">
                        <p class="presrntaciya-title">Высокие % ставки</p>
                        <p>Dignissim auctor tortor, magna phasellus tellus amet dictum tellus vestibulum</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-12 p-0">
                <div class="presrntaciya-block">
                    <img src="../../build/img/preza2.jpg" alt="">
                    <div class="presrntaciya-content">
                        <p class="presrntaciya-title">Гибкие условия</p>
                        <p>Dignissim auctor tortor, magna phasellus tellus amet dictum tellus vestibulum</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-12 p-0">
                <div class="presrntaciya-block">
                    <img src="../../build/img/preza3.jpg" alt="">
                    <div class="presrntaciya-content">
                        <p class="presrntaciya-title">Гарантия выплат</p>
                        <p>Dignissim auctor tortor, magna phasellus tellus amet dictum tellus vestibulum</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- 3 block  -->
    <section class="main-prog">
        <div class="container">
            <p class="subtitle">сберегательные программы</p>
            <h2>Сравните варианты сберегательных программ и&nbsp;выберите подходящую для вас</h2>
            <div class="main-prog-wrp">
                <div class="main-prog-block">
                    <p class="main-prog-title">Пенсионная</p>
                    <ul class="main-prog-list">
                        <li>
                            <p>Валюта:</p>
                            <p>Рубль РФ</p>
                        </li>
                        <li>
                            <p>Порядок выплат:</p>
                            <p>Ежемесячно или в конце срока</p>
                        </li>
                        <li>
                            <p>Срок договора:</p>
                            <p>От 3 до 36 месяцев</p>
                        </li>
                        <li>
                            <p>Частичное снятие:</p>
                            <p>До 25% от суммы, без потери процентов</p>
                        </li>
                        <li>
                            <p>Досрочное расторжение:</p>
                            <p>Размер процентной ставки при досрочном расторжении: 0,1%.</p>
                        </li>
                        <li>
                            <p>Необходимые документы:</p>
                            <p>Паспорт</p>
                        </li>
                        <li>
                            <p>Начисление процентов:</p>
                            <p>Ежемесячно и выплачиваются по выбору клиента на личный счет в любом банке; в кассе МПК ПФ</p>
                        </li>
                    </ul>
                </div>
                <div class="main-prog-block">
                    <p class="main-prog-title">Сберегательная</p>
                    <ul class="main-prog-list">
                        <li>
                            <p>Валюта:</p>
                            <p>Рубль РФ</p>
                        </li>
                        <li>
                            <p>Порядок выплат:</p>
                            <p>Ежемесячно или в конце срока</p>
                        </li>
                        <li>
                            <p>Срок договора:</p>
                            <p>От 3 до 36 месяцев</p>
                        </li>
                        <li>
                            <p>Частичное снятие:</p>
                            <p>До 25% от суммы, без потери процентов</p>
                        </li>
                        <li>
                            <p>Досрочное расторжение:</p>
                            <p>Размер процентной ставки при досрочном расторжении: 0,1%.</p>
                        </li>
                        <li>
                            <p>Необходимые документы:</p>
                            <p>Паспорт</p>
                        </li>
                        <li>
                            <p>Начисление процентов:</p>
                            <p>Ежемесячно и выплачиваются по выбору клиента на личный счет в любом банке; в кассе МПК ПФ</p>
                        </li>
                    </ul>
                </div>
                <div class="main-prog-block">
                    <p class="main-prog-title">Инвестиционная</p>
                    <ul class="main-prog-list">
                        <li>
                            <p>Валюта:</p>
                            <p>Рубль РФ</p>
                        </li>
                        <li>
                            <p>Порядок выплат:</p>
                            <p>Ежемесячно или в конце срока</p>
                        </li>
                        <li>
                            <p>Срок договора:</p>
                            <p>От 3 до 36 месяцев</p>
                        </li>
                        <li>
                            <p>Частичное снятие:</p>
                            <p>До 25% от суммы, без потери процентов</p>
                        </li>
                        <li>
                            <p>Досрочное расторжение:</p>
                            <p>Размер процентной ставки при досрочном расторжении: 0,1%.</p>
                        </li>
                        <li>
                            <p>Необходимые документы:</p>
                            <p>Паспорт</p>
                        </li>
                        <li>
                            <p>Начисление процентов:</p>
                            <p>Ежемесячно и выплачиваются по выбору клиента на личный счет в любом банке; в кассе МПК ПФ</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="prog-screen-btn">Оформить заявку</div>
        </div>
    </section>
    <!-- 4 block  -->
    <section class="main-slider-section">
        <img src="../../build/img/bg-slider.jpg" alt="">
        <div class="container">
            <div class="row">
                <div class="col-xl-5 col-md-6 col-12">
                    <h2>Контроль государства и&nbsp;страхование сбережений</h2>
                    <div class="main-slider-text">
                        <p>Мы строго соблюдаем законы РФ и отраслевые стандарты. Имеем все разрешительные документы для осуществления деятельности.</p>
                        <p>Ведем регулярную отчетность перед контролирующими органами и пайщиками кооператива.</p>
                    </div>
                    <div class="slick-arrs-wrp desc">
                        <div class="main-arrow prev-arrow prev-main-arrow">
                            <img src="../../build/img/arrow.svg" alt="">
                        </div>
                        <div class="main-arrow next-main-arrow">
                            <img src="../../build/img/arrow.svg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-slider-wrp">
            <div class="main-slider">
                <div>
                    <div class="main-slide">
                        <a class="main-slide-img fancy-link" href="../../build/img/inn.png">
                            <img src="../../build/img/inn.png" alt="">
                        </a>
                        <p>ИНН</p>
                    </div>
                </div>
                <div>
                    <div class="main-slide">
                        <a class="main-slide-img fancy-link" href="../../build/img/inn2.png">
                            <img src="../../build/img/inn2.png" alt="">
                        </a>
                        <p>Свидетельство о регистрации кооператива</p>
                    </div>
                </div>
                <div>
                    <div class="main-slide">
                        <a class="main-slide-img fancy-link" href="../../build/img/inn3.png">
                            <img src="../../build/img/inn3.png" alt="">
                        </a>
                        <p>Свидетельство члена СРО</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="slick-arrs-wrp mob">
            <div class="main-arrow prev-arrow prev-main-arrow">
                <img src="../../build/img/arrow.svg" alt="">
            </div>
            <div class="main-arrow next-main-arrow">
                <img src="../../build/img/arrow.svg" alt="">
            </div>
        </div>
    </section>
    <!-- 5 block  -->
    <section class="trust-section">
        <div class="container">
            <p class="subtitle">можете нам доверять</p>
            <h2>Дополнительные гарантии</h2>
            <div class="row">
                <div class="col-lg-4 col-12">
                    <div class="trust-block">
                        <img src="../../build/img/trust1.svg" alt="">
                        <p class="trust-title">Центробанк</p>
                        <p>Мы работаем по Федеральному закону от 18.07.2009 № 190-ФЗ «О кредитной кооперации». Включены в госреестр КПК Центрального Банка России и выполняем все его требования: формируем резервный фонд на возможные потери по займам, состоим в СРО, предоставляем информацию о хозяйственной деятельности и бухгалтерскую отчётность.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-12">
                    <div class="trust-block">
                        <img src="../../build/img/trust2.svg" alt="">
                        <p class="trust-title">Росфинмониторинг</p>
                        <p>В соответствии с требованиями законодательства РФ мы разработали и внедрили систему внутреннего контроля в области ПОД/ФТ/ФРОМУ. Росфинмониторинг контролирует выполнение Федерального закона от 07.08.2001 № 115-ФЗ о противодействии легализации (отмыванию) доходов, полученных преступным путём,  финансированию терроризма.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-12">
                    <div class="trust-block">
                        <img src="../../build/img/trust3.svg" alt="">
                        <p class="trust-title">Состоим в СРО</p>
                        <p>Мы состоим в Ассоциации Саморегулируемая организация кредитных потребительских кооперативов «Кооперативные Финансы» под номером 710. СРО защищает интересы пайщиков и для этого контролирует нашу работу: как мы соблюдаем законы, нормативные правовые акты России и Центробанка.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- 6 block  -->
    <section class="main-insurance">
        <img src="../../build/img/bg6.jpg" alt="">
        <div class="container">
            <div class="offset-xl-2 offset-lg-1 offset-0 col-xl-8 col-lg-10 p-0">
                <p class="subtitle">Cтрахование</p>
                <h2>Ваши сбережения под защитой</h2>
                <p>Мы страхуем сбережения наших пайщиков в НКО «Межрегиональное общество взаимного страхования». Каждому пайщику выдаём именное свидетельство, по которому он гарантированно сможет вернуть свои сбережения при страховом случае.</p>
            </div>
        </div>
    </section>
    <section class="main-insurance2">
        <div class="container">
            <div class="offset-xl-2 offset-lg-1 offset-0 col-xl-8 col-lg-10 p-0">
                <div class="main-insurance2-wrp">
                    <a class="main-insurance2-img" href="../../build/img/svid1.png" data-fancybox="svid">
                        <img src="../../build/img/svid1.png" alt="">
                    </a>
                    <a class="main-insurance2-img" href="../../build/img/svid2.png" data-fancybox="svid">
                        <img src="../../build/img/svid2.png" alt="">
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!-- 7 block  -->
    <section class="partner-section">
        <div class="container">
            <p class="subtitle">наши партнеры</p>
            <h2>Бизнес, который мы помогаем развивать</h2>
            <div class="partner-slider">
                <div>
                    <div class="partner-slide">
                        <img src="../../build/img/partner11.png" alt="">
                        <p class="partner-slide-title">Завод керамзитобетонных изделий «Лидер»</p>
                        <p>Pharetra, sapien sem id curabitur adipiscing quam ac. Arcu volutpat, massa tincidunt pellentesque. Urna, suscipit tristique ultricies enim convallis urna. sapien sem id curabitur adipiscing quam ac. Arcu volutpat, massa tincidunt pellentesque. Urna, suscipit tristique ultricies enim convallis urna</p>
                        <div class="partner-slide-inner">
                            <img src="../../build/img/partner1.png" alt="">
                            <a href="#" class="partner-slide-btn">подробнее</a>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="partner-slide">
                        <img src="../../build/img/partner12.png" alt="">
                        <p class="partner-slide-title">«Фабрика Креативного Стеклопакета»</p>
                        <p>Pharetra, sapien sem id curabitur adipiscing quam ac. Arcu volutpat, massa tincidunt pellentesque. Urna, suscipit tristique ultricies enim convallis urna</p>
                        <div class="partner-slide-inner">
                            <img src="../../build/img/partner1.png" alt="">
                            <a href="#" class="partner-slide-btn">подробнее</a>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="partner-slide">
                        <img src="../../build/img/partner13.png" alt="">
                        <p class="partner-slide-title">Гостиница «Landmark City Hostel»</p>
                        <p>Pharetra, sapien sem id curabitur adipiscing quam ac. Arcu volutpat, massa tincidunt pellentesque. Urna, suscipit tristique ultricies enim convallis urna</p>
                        <div class="partner-slide-inner">
                            <img src="../../build/img/partner1.png" alt="">
                            <a href="#" class="partner-slide-btn">подробнее</a>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="partner-slide">
                        <img src="../../build/img/partner14.png" alt="">
                        <p class="partner-slide-title">Отель «Калифорния»</p>
                        <p>Pharetra, sapien sem id curabitur adipiscing quam ac. Arcu volutpat, massa tincidunt pellentesque. Urna, suscipit tristique ultricies enim convallis urna</p>
                        <div class="partner-slide-inner">
                            <img src="../../build/img/partner1.png" alt="">
                            <a href="#" class="partner-slide-btn">подробнее</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slick-arrs-wrp gray">
                <div class="main-arrow prev-arrow prev-part-arrow">
                    <img src="../../build/img/arrow.svg" alt="">
                </div>
                <div class="main-arrow next-part-arrow">
                    <img src="../../build/img/arrow.svg" alt="">
                </div>
            </div>
        </div>
    </section>
    <!-- 8 block  -->
    <section class="review-section">
        <div class="review-plashka">
            <img src="../../build/img/quote.svg" alt="">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-lg-5 col-12">
                    <h2>Реальные отзывы пайщиков</h2>
                    <p>Ipsum, nam a id turpis quam sit vulputate volutpat id. Neque, congue tristique quis pellentesque aliquet posuere enim elit, orci.</p>
                    <a href="#" class="read-all-btn read-all-btn-desc">читать отзывы</a>
                </div>
                <div class="offset-xl-2 offset-lg-1 offset-0 col-xl-5 col-lg-6 col-12">
                    <div class="prev-rev-block">
                        <p>Глубоко признателен и благодарен за внимание, высокий профессионализм, оперативность в работе, умение привлечь клиента, заинтересовать его. Спасибо! Сальников П. И. Глубоко признателен и благодарен за внимание, высокий профессионализм, оперативность в работе, умение привлечь клиента, заинтересовать его. Спасибо! Сальников П. И. </p>
                        <p class="signature">Сальников П. И.</p>
                        <p>10.01.2020</p>
                    </div>
                    <a href="#" class="read-all-btn read-all-btn-mob">читать отзывы</a>
                </div>
            </div>
        </div>
    </section>
    <!-- 9 block  -->
    <section class="how-section">
        <img src="../../build/img/bg9.png" alt="">
        <div class="container">
            <h2>Как заключить договор и начать зарабатывать</h2>
            <div class="row">
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="how-block">
                        <p class="how-block-title">Lorem ipsum dolor sit</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacu.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="how-block">
                        <p class="how-block-title">Dolor quam pretium</p>
                        <p>Orci consectetur sed imperdiet et lacinia. Ornare elit imperdiet id proin ut malesuada neque, congue commodo.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="how-block">
                        <p class="how-block-title">Morbi egestas varius</p>
                        <p>Eget scelerisque eget blandit diam. Bibendum tristique condimentum amet amet.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="how-block">
                        <p class="how-block-title">Consectetur metus, nisl</p>
                        <p>Diam nullam nulla accumsan faucibus facilisi turpis venenatis velit cras. At donec adipiscing diam ut egestas facilisi nunc lacus, nisl.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- 10 block  -->
    <section class="section-form">
        <div class="container">
            <div class="section-form-img">
                <img src="../../build/img/bg10.jpg" alt="">
            </div>
            <div class="row">
                <div class="offset-xl-1 offset-0 col-xl-10 col-12">
                    <h2>Оставьте заявку!</h2>
                    <p>Заполните и отправьте форму ниже. После этого, наш специалист свяжется с вами в&nbsp;ближайшее время, поможет подобрать программу сбережений и ответит на все вопросы</p>
                    <form id="valid1" action="#">
                        <div class="form-plashka">
                            <div class="input-flex">
                                <div class="input-style">
                                    <input class="input-form input-valid" type="text" data-input="name" name="name" placeholder="Имя*">
                                    <p class="input-error">Ошибка ввода</p>
                                </div>
                                <div class="input-style">
                                    <input class="input-form input-valid mask-phone" type="tel" data-input="phone" name="phone" placeholder="Номер телефона*">
                                    <p class="input-error">Ошибка ввода</p>
                                </div>
                            </div>
                            <textarea class="textarea-form" name="name" placeholder="Ваш комментарий"></textarea>
                            <label class="checkbox">
                                <input class="checkbox-check" type="checkbox">
                                <div class="checkbox__text">Я согласен с <a href="/policy"> политиками конфиденциальности</a></div>
                            </label>
                            <input class="form-btn btn-checkbox btn-checkbox-disabled" type="submit" name="" value="Связаться">
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </section>
</main>
