<div class="partners-page pt144">
    <div class="container">
        <h2>Бизнес, который мы помогаем развивать</h2>
        <div class="partners-page-content">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="partner-slide">
                        <img src="../../build/img/partner11.png" alt="">
                        <p class="partner-slide-title">Завод керамзитобетонных изделий «Лидер»</p>
                        <p>Pharetra, sapien sem id curabitur adipiscing quam ac. Arcu volutpat, massa tincidunt pellentesque. Urna, suscipit tristique ultricies enim convallis urna. sapien sem id curabitur adipiscing quam ac. Arcu volutpat, massa tincidunt pellentesque. Urna, suscipit tristique ultricies enim convallis urna</p>
                        <div class="partner-slide-inner">
                            <img src="../../build/img/partner1.png" alt="">
                            <a href="#" class="partner-slide-btn">подробнее</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="partner-slide">
                        <img src="../../build/img/partner12.png" alt="">
                        <p class="partner-slide-title">«Фабрика Креативного Стеклопакета»</p>
                        <p>Pharetra, sapien sem id curabitur adipiscing quam ac. Arcu volutpat, massa tincidunt pellentesque. Urna, suscipit tristique ultricies enim convallis urna</p>
                        <div class="partner-slide-inner">
                            <img src="../../build/img/partner1.png" alt="">
                            <a href="#" class="partner-slide-btn">подробнее</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="partner-slide">
                        <img src="../../build/img/partner13.png" alt="">
                        <p class="partner-slide-title">Гостиница «Landmark City Hostel»</p>
                        <p>Pharetra, sapien sem id curabitur adipiscing quam ac. Arcu volutpat, massa tincidunt pellentesque. Urna, suscipit tristique ultricies enim convallis urna</p>
                        <div class="partner-slide-inner">
                            <img src="../../build/img/partner1.png" alt="">
                            <a href="#" class="partner-slide-btn">подробнее</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="partner-slide">
                        <img src="../../build/img/partner14.png" alt="">
                        <p class="partner-slide-title">Отель «Калифорния»</p>
                        <p>Pharetra, sapien sem id curabitur adipiscing quam ac. Arcu volutpat, massa tincidunt pellentesque. Urna, suscipit tristique ultricies enim convallis urna</p>
                        <div class="partner-slide-inner">
                            <img src="../../build/img/partner1.png" alt="">
                            <a href="#" class="partner-slide-btn">подробнее</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="partner-slide">
                        <img src="../../build/img/partner12.png" alt="">
                        <p class="partner-slide-title">«Фабрика Креативного Стеклопакета»</p>
                        <p>Pharetra, sapien sem id curabitur adipiscing quam ac. Arcu volutpat, massa tincidunt pellentesque. Urna, suscipit tristique ultricies enim convallis urna</p>
                        <div class="partner-slide-inner">
                            <img src="../../build/img/partner1.png" alt="">
                            <a href="#" class="partner-slide-btn">подробнее</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="partner-slide">
                        <img src="../../build/img/partner13.png" alt="">
                        <p class="partner-slide-title">Гостиница «Landmark City Hostel»</p>
                        <p>Pharetra, sapien sem id curabitur adipiscing quam ac. Arcu volutpat, massa tincidunt pellentesque. Urna, suscipit tristique ultricies enim convallis urna</p>
                        <div class="partner-slide-inner">
                            <img src="../../build/img/partner1.png" alt="">
                            <a href="#" class="partner-slide-btn">подробнее</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="partner-slide">
                        <img src="../../build/img/partner14.png" alt="">
                        <p class="partner-slide-title">Отель «Калифорния»</p>
                        <p>Pharetra, sapien sem id curabitur adipiscing quam ac. Arcu volutpat, massa tincidunt pellentesque. Urna, suscipit tristique ultricies enim convallis urna</p>
                        <div class="partner-slide-inner">
                            <img src="../../build/img/partner1.png" alt="">
                            <a href="#" class="partner-slide-btn">подробнее</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="partner-slide">
                        <img src="../../build/img/partner13.png" alt="">
                        <p class="partner-slide-title">Гостиница «Landmark City Hostel»</p>
                        <p>Pharetra, sapien sem id curabitur adipiscing quam ac. Arcu volutpat, massa tincidunt pellentesque. Urna, suscipit tristique ultricies enim convallis urna</p>
                        <div class="partner-slide-inner">
                            <img src="../../build/img/partner1.png" alt="">
                            <a href="#" class="partner-slide-btn">подробнее</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="partner-slide">
                        <img src="../../build/img/partner14.png" alt="">
                        <p class="partner-slide-title">Отель «Калифорния»</p>
                        <p>Pharetra, sapien sem id curabitur adipiscing quam ac. Arcu volutpat, massa tincidunt pellentesque. Urna, suscipit tristique ultricies enim convallis urna</p>
                        <div class="partner-slide-inner">
                            <img src="../../build/img/partner1.png" alt="">
                            <a href="#" class="partner-slide-btn">подробнее</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="partner-slide">
                        <img src="../../build/img/partner14.png" alt="">
                        <p class="partner-slide-title">Отель «Калифорния»</p>
                        <p>Pharetra, sapien sem id curabitur adipiscing quam ac. Arcu volutpat, massa tincidunt pellentesque. Urna, suscipit tristique ultricies enim convallis urna</p>
                        <div class="partner-slide-inner">
                            <img src="../../build/img/partner1.png" alt="">
                            <a href="#" class="partner-slide-btn">подробнее</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="show-partn-btn">показать еще</div>
    </div>
</div>
