<div id="enter" class="pop-up-general-block">
    <div class="pop-up-general-block-content">
        <div class="pop-up-side left">
            <p class="popup-title">ВОЙТИ</p>
            <form id="valid" action="#">
                <div class="input-style">
                    <p class="input-title">Введите свой email *</p>
                    <input class="pop-up-input input-valid" type="email" data-input="email" name="email" value="">
                    <div class="input-error-plashka">
                        <p class="input-error-title">Ошибка!</p>
                        <p class="input-error">Ошибка ввода</p>
                    </div>
                </div>
                <div class="input-style">
                    <p class="input-title">Пароль *</p>
                    <input class="pop-up-input input-valid password" type="password" data-input="password" name="password" value="">
                    <div class="input-error-plashka">
                        <p class="input-error-title">Ошибка!</p>
                        <p class="input-error">Ошибка ввода</p>
                    </div>
                    <div class="show-pass">
                        <img src="../../build/img/eye.svg" alt="">
                    </div>
                </div>
                <input class="popup-btn" type="submit" name="" value="Войти">
                <label class="checkbox">
                	<input type="checkbox" />
                	<div class="checkbox__text">Запомнить меня</div>
                </label>
                <a href="#" class="forgot">Забыли свой пароль?</a>
            </form>
        </div>
        <div class="pop-up-side right">
            <p class="popup-title">РЕГИСТРАЦИЯ</p>
            <form id="valid2" action="#">
                <div class="input-style">
                    <p class="input-title">Email *</p>
                    <input class="pop-up-input input-valid" type="email" data-input="email" name="email" value="">
                    <div class="input-error-plashka">
                        <p class="input-error-title">Ошибка!</p>
                        <p class="input-error">Ошибка ввода</p>
                    </div>
                </div>
                <input class="popup-btn" type="submit" name="" value="Регистрация">
            </form>
        </div>
    </div>
    <div class="pop-up-general-block-close-btn"></div>
</div>
<div id="reorder" class="pop-up-general-block">
    <div class="data-popup-wrp">
        <p class="popup-title">ЗАКАЗ №00002</p>
        <p class="data-popup">01.02.2020</p>
    </div>
    <table>
        <tbody>
            <tr>
                <th>Название товара</th>
                <th>Цена</th>
                <th>Кол-во</th>
                <th>Итого</th>
            </tr>
            <tr>
                <td>Beyond Burger, <span class="color-gray">350 г</span></td>
                <td>200 грн</td>
                <td>2</td>
                <td>400 грн</td>
            </tr>
            <tr>
                <td>Beyond Salat, <span class="color-gray">350 г</span></td>
                <td>200 грн</td>
                <td>1</td>
                <td>200 грн</td>
            </tr>
            <tr>
                <td>Напиток Coca-Cola, <span class="color-gray">0,5 л</span></td>
                <td>20 грн</td>
                <td>2</td>
                <td>40 грн</td>
            </tr>
        </tbody>
    </table>
    <div class="total-popup-line">
        <div class="total-popup-btn">Перезаказать</div>
        <ul class="total-popup">
            <li>
                <p>Итого</p>
                <p>640 грн</p>
            </li>
            <li>
                <p>Доставка</p>
                <p>0 грн</p>
            </li>
        </ul>
    </div>
    <div class="pop-up-general-block-close-btn"></div>
</div>
