<div class="news-page pt144">
    <div class="container">
        <h2>Новости</h2>
    </div>
    <div class="news-page-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="news-block">
                        <div>
                            <div class="news-img">
                                <img src="../../build/img/news1.jpg" alt="">
                            </div>
                            <p class="subtitle-news">Финансы</p>
                            <p class="title-news">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            <p class="news-text">Pharetra, sapien sem id curabitur adipiscing quam ac. Arcu volutpat, massa tincidunt pellentesque. Urna, suscipit tristique ultricies enim convallis urna</p>
                        </div>
                        <p class="news-data">
                            <img src="../../build/img/clock.svg" alt="">
                            <span>25 фев 2020</span>
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="news-block">
                        <div>
                            <div class="news-img">
                                <img src="../../build/img/news2.jpg" alt="">
                            </div>
                            <p class="subtitle-news">Финансы</p>
                            <p class="title-news">Lorem ipsum dolor sit amet</p>
                            <p class="news-text">Pharetra, sapien sem id curabitur adipiscing quam ac. Arcu volutpat, massa tincidunt pellentesque. Urna, suscipit tristique ultricies enim convallis urna. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste laudantium officia laboriosam quae, corporis quibusdam dignissimos doloremque magni.</p>
                        </div>
                        <p class="news-data">
                            <img src="../../build/img/clock.svg" alt="">
                            <span>25 фев 2020</span>
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="news-block">
                        <div>
                            <div class="news-img">
                                <img src="../../build/img/news3.jpg" alt="">
                            </div>
                            <p class="subtitle-news">Финансы</p>
                            <p class="title-news">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                            <p class="news-text">Pharetra, sapien sem id curabitur adipiscing quam ac. Arcu volutpat, massa tincidunt pellentesque.</p>
                        </div>
                        <p class="news-data">
                            <img src="../../build/img/clock.svg" alt="">
                            <span>25 фев 2020</span>
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="news-block">
                        <div>
                            <div class="news-img">
                                <img src="../../build/img/news4.jpg" alt="">
                            </div>
                            <p class="subtitle-news">Финансы</p>
                            <p class="title-news">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                            <p class="news-text">Pharetra, sapien sem id curabitur adipiscing quam ac. Arcu volutpat, massa tincidunt pellentesque.</p>
                        </div>
                        <p class="news-data">
                            <img src="../../build/img/clock.svg" alt="">
                            <span>25 фев 2020</span>
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="news-block">
                        <div>
                            <div class="news-img">
                                <img src="../../build/img/news5.jpg" alt="">
                            </div>
                            <p class="subtitle-news">Финансы</p>
                            <p class="title-news">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                            <p class="news-text">Pharetra, sapien sem id curabitur adipiscing quam ac. Arcu volutpat, massa tincidunt pellentesque.</p>
                        </div>
                        <p class="news-data">
                            <img src="../../build/img/clock.svg" alt="">
                            <span>25 фев 2020</span>
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="news-block">
                        <div>
                            <div class="news-img">
                                <img src="../../build/img/news6.jpg" alt="">
                            </div>
                            <p class="subtitle-news">Финансы</p>
                            <p class="title-news">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                            <p class="news-text">Pharetra, sapien sem id curabitur adipiscing quam ac. Arcu volutpat, massa tincidunt pellentesque.</p>
                        </div>
                        <p class="news-data">
                            <img src="../../build/img/clock.svg" alt="">
                            <span>25 фев 2020</span>
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="news-block">
                        <div>
                            <div class="news-img">
                                <img src="../../build/img/news7.png" alt="">
                            </div>
                            <p class="subtitle-news">Финансы</p>
                            <p class="title-news">Lorem ipsum dolor sit</p>
                            <p class="news-text">Pharetra, sapien sem id curabitur adipiscing quam ac. Arcu volutpat, massa tincidunt pellentesque.</p>
                        </div>
                        <p class="news-data">
                            <img src="../../build/img/clock.svg" alt="">
                            <span>25 фев 2020</span>
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="news-block">
                        <div>
                            <div class="news-img">
                                <img src="../../build/img/news8.png" alt="">
                            </div>
                            <p class="subtitle-news">Финансы</p>
                            <p class="title-news">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            <p class="news-text">Pharetra, sapien sem id curabitur adipiscing quam ac. Arcu volutpat, massa tincidunt pellentesque.</p>
                        </div>
                        <p class="news-data">
                            <img src="../../build/img/clock.svg" alt="">
                            <span>25 фев 2020</span>
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="news-block">
                        <div>
                            <div class="news-img">
                                <img src="../../build/img/news9.png" alt="">
                            </div>
                            <p class="subtitle-news">Финансы</p>
                            <p class="title-news">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                            <p class="news-text">Pharetra, sapien sem id curabitur adipiscing quam ac. Arcu volutpat, massa tincidunt pellentesque.</p>
                        </div>
                        <p class="news-data">
                            <img src="../../build/img/clock.svg" alt="">
                            <span>25 фев 2020</span>
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="news-block">
                        <div>
                            <div class="news-img">
                                <img src="../../build/img/news9.png" alt="">
                            </div>
                            <p class="subtitle-news">Финансы</p>
                            <p class="title-news">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                            <p class="news-text">Pharetra, sapien sem id curabitur adipiscing quam ac. Arcu volutpat, massa tincidunt pellentesque.</p>
                        </div>
                        <p class="news-data">
                            <img src="../../build/img/clock.svg" alt="">
                            <span>25 фев 2020</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="show-news-btn">показать еще</div>
    </div>
</div>
