<div class="vip-page pt144">
    <div class="vip-bg">
        <img src="../../build/img/vip.png" alt="">
    </div>
    <div class="container">
        <p class="subtitle">Lorem Ipsum</p>
        <h2>Топ-10 Криптовалюты по рыночной капитализации</h2>
        <table class="vip-table">
            <thead>
                <tr>
        			<th class="table-sticky">
                        <div class="flex-vertical">
                            <p class="table-hash">#</p>
                            <div class="up-down">
                                <p>Валюта</p>
                                <img class="up active" src="../../build/img/up.png" alt="">
                                <img class="down" src="../../build/img/up.png" alt="">
                            </div>
                        </div>
                    </th>
        			<th>
                        <div class="select-table-wrp">
                            <p>Цена в</p>
                            <select class="select-simple">
                              <option value="1">USD</option>
                              <option value="2">РУБ</option>
                            </select>
                        </div>
                    </th>
        			<th>
                        <div class="up-down">
                            <p>Объем за 24 часа</p>
                            <img class="up active" src="../../build/img/up.png" alt="">
                            <img class="down" src="../../build/img/up.png" alt="">
                        </div>
                    </th>
        			<th>
                        <div class="up-down">
                            <p>Рыночная капитализация</p>
                            <img class="up active" src="../../build/img/up.png" alt="">
                            <img class="down" src="../../build/img/up.png" alt="">
                        </div>
                    </th>
        			<th></th>
        		</tr>
            </thead>
        	<tbody>
        		<tr>
        			<td class="table-sticky">
                        <div class="bit-name-wrp">
                            <p class="table-row">#1</p>
                            <img src="../../build/img/bit.png" alt="">
                            <div class="bit-name">
                                <p>Bitcoin</p>
                                <p>BTC</p>
                            </div>
                        </div>
                    </td>
        			<td>
                        <p class="main-cifra">$ 11,569.17</p>
                        <p class="minus-cifra">-2.54% ($302) в 12ч</p>
                        <p class="plus-cifra">+3.09% ($347) в 7д</p>
                    </td>
        			<td>
                        <p class="main-cifra">$ 45 970 954 187</p>
                    </td>
        			<td>
                        <p class="main-cifra">$ 212 698 755 428</p>
                    </td>
        			<td>
                        <div class="btn-table open-pop-up">Заказать</div>
                    </td>
        		</tr>
                <tr>
        			<td class="table-sticky">
                        <div class="bit-name-wrp">
                            <p class="table-row">#1</p>
                            <img src="../../build/img/bit.png" alt="">
                            <div class="bit-name">
                                <p>Bitcoin</p>
                                <p>BTC</p>
                            </div>
                        </div>
                    </td>
        			<td>
                        <p class="main-cifra">$ 11,569.17</p>
                        <p class="minus-cifra">-2.54% ($302) в 12ч</p>
                        <p class="plus-cifra">+3.09% ($347) в 7д</p>
                    </td>
        			<td>
                        <p class="main-cifra">$ 45 970 954 187</p>
                    </td>
        			<td>
                        <p class="main-cifra">$ 212 698 755 428</p>
                    </td>
        			<td>
                        <div class="btn-table open-pop-up">Заказать</div>
                    </td>
        		</tr>
                <tr>
        			<td class="table-sticky">
                        <div class="bit-name-wrp">
                            <p class="table-row">#1</p>
                            <img src="../../build/img/bit.png" alt="">
                            <div class="bit-name">
                                <p>Bitcoin</p>
                                <p>BTC</p>
                            </div>
                        </div>
                    </td>
        			<td>
                        <p class="main-cifra">$ 11,569.17</p>
                        <p class="minus-cifra">-2.54% ($302) в 12ч</p>
                        <p class="plus-cifra">+3.09% ($347) в 7д</p>
                    </td>
        			<td>
                        <p class="main-cifra">$ 45 970 954 187</p>
                    </td>
        			<td>
                        <p class="main-cifra">$ 212 698 755 428</p>
                    </td>
        			<td>
                        <div class="btn-table open-pop-up">Заказать</div>
                    </td>
        		</tr>
                <tr>
        			<td class="table-sticky">
                        <div class="bit-name-wrp">
                            <p class="table-row">#1</p>
                            <img src="../../build/img/bit.png" alt="">
                            <div class="bit-name">
                                <p>Bitcoin</p>
                                <p>BTC</p>
                            </div>
                        </div>
                    </td>
        			<td>
                        <p class="main-cifra">$ 11,569.17</p>
                        <p class="minus-cifra">-2.54% ($302) в 12ч</p>
                        <p class="plus-cifra">+3.09% ($347) в 7д</p>
                    </td>
        			<td>
                        <p class="main-cifra">$ 45 970 954 187</p>
                    </td>
        			<td>
                        <p class="main-cifra">$ 212 698 755 428</p>
                    </td>
        			<td>
                        <div class="btn-table open-pop-up">Заказать</div>
                    </td>
        		</tr>
                <tr>
        			<td class="table-sticky">
                        <div class="bit-name-wrp">
                            <p class="table-row">#1</p>
                            <img src="../../build/img/bit.png" alt="">
                            <div class="bit-name">
                                <p>Bitcoin</p>
                                <p>BTC</p>
                            </div>
                        </div>
                    </td>
        			<td>
                        <p class="main-cifra">$ 11,569.17</p>
                        <p class="minus-cifra">-2.54% ($302) в 12ч</p>
                        <p class="plus-cifra">+3.09% ($347) в 7д</p>
                    </td>
        			<td>
                        <p class="main-cifra">$ 45 970 954 187</p>
                    </td>
        			<td>
                        <p class="main-cifra">$ 212 698 755 428</p>
                    </td>
        			<td>
                        <div class="btn-table open-pop-up">Заказать</div>
                    </td>
        		</tr>
                <tr>
        			<td class="table-sticky">
                        <div class="bit-name-wrp">
                            <p class="table-row">#1</p>
                            <img src="../../build/img/bit.png" alt="">
                            <div class="bit-name">
                                <p>Bitcoin</p>
                                <p>BTC</p>
                            </div>
                        </div>
                    </td>
        			<td>
                        <p class="main-cifra">$ 11,569.17</p>
                        <p class="minus-cifra">-2.54% ($302) в 12ч</p>
                        <p class="plus-cifra">+3.09% ($347) в 7д</p>
                    </td>
        			<td>
                        <p class="main-cifra">$ 45 970 954 187</p>
                    </td>
        			<td>
                        <p class="main-cifra">$ 212 698 755 428</p>
                    </td>
        			<td>
                        <div class="btn-table open-pop-up">Заказать</div>
                    </td>
        		</tr>
                <tr>
        			<td class="table-sticky">
                        <div class="bit-name-wrp">
                            <p class="table-row">#1</p>
                            <img src="../../build/img/bit.png" alt="">
                            <div class="bit-name">
                                <p>Bitcoin</p>
                                <p>BTC</p>
                            </div>
                        </div>
                    </td>
        			<td>
                        <p class="main-cifra">$ 11,569.17</p>
                        <p class="minus-cifra">-2.54% ($302) в 12ч</p>
                        <p class="plus-cifra">+3.09% ($347) в 7д</p>
                    </td>
        			<td>
                        <p class="main-cifra">$ 45 970 954 187</p>
                    </td>
        			<td>
                        <p class="main-cifra">$ 212 698 755 428</p>
                    </td>
        			<td>
                        <div class="btn-table open-pop-up">Заказать</div>
                    </td>
        		</tr>
                <tr>
        			<td class="table-sticky">
                        <div class="bit-name-wrp">
                            <p class="table-row">#1</p>
                            <img src="../../build/img/bit.png" alt="">
                            <div class="bit-name">
                                <p>Bitcoin</p>
                                <p>BTC</p>
                            </div>
                        </div>
                    </td>
        			<td>
                        <p class="main-cifra">$ 11,569.17</p>
                        <p class="minus-cifra">-2.54% ($302) в 12ч</p>
                        <p class="plus-cifra">+3.09% ($347) в 7д</p>
                    </td>
        			<td>
                        <p class="main-cifra">$ 45 970 954 187</p>
                    </td>
        			<td>
                        <p class="main-cifra">$ 212 698 755 428</p>
                    </td>
        			<td>
                        <div class="btn-table open-pop-up">Заказать</div>
                    </td>
        		</tr>
                <tr>
        			<td class="table-sticky">
                        <div class="bit-name-wrp">
                            <p class="table-row">#1</p>
                            <img src="../../build/img/bit.png" alt="">
                            <div class="bit-name">
                                <p>Bitcoin</p>
                                <p>BTC</p>
                            </div>
                        </div>
                    </td>
        			<td>
                        <p class="main-cifra">$ 11,569.17</p>
                        <p class="minus-cifra">-2.54% ($302) в 12ч</p>
                        <p class="plus-cifra">+3.09% ($347) в 7д</p>
                    </td>
        			<td>
                        <p class="main-cifra">$ 45 970 954 187</p>
                    </td>
        			<td>
                        <p class="main-cifra">$ 212 698 755 428</p>
                    </td>
        			<td>
                        <div class="btn-table open-pop-up">Заказать</div>
                    </td>
        		</tr>
                <tr>
        			<td class="table-sticky">
                        <div class="bit-name-wrp">
                            <p class="table-row">#1</p>
                            <img src="../../build/img/bit.png" alt="">
                            <div class="bit-name">
                                <p>Bitcoin</p>
                                <p>BTC</p>
                            </div>
                        </div>
                    </td>
        			<td>
                        <p class="main-cifra">$ 11,569.17</p>
                        <p class="minus-cifra">-2.54% ($302) в 12ч</p>
                        <p class="plus-cifra">+3.09% ($347) в 7д</p>
                    </td>
        			<td>
                        <p class="main-cifra">$ 45 970 954 187</p>
                    </td>
        			<td>
                        <p class="main-cifra">$ 212 698 755 428</p>
                    </td>
        			<td>
                        <div class="btn-table open-pop-up">Заказать</div>
                    </td>
        		</tr>
        	</tbody>
        </table>
    </div>
</div>
