<div class="contacts-pag">
    <section class="map-section pt144">
        <div class="container">
            <h2>Контакты</h2>
            <div class="map-content">
                <ul class="map-link">
                    <li class="active">Москва, Россия</li>
                    <li>Лондон, Великобритания</li>
                    <li>Гонконг</li>
                    <!-- <li>Пекин, Китай</li>
                    <li>Мумбаи, Индия</li>
                    <li>Нью-Йорк, США</li>
                    <li>Дубай, ОАЭ</li>
                    <li>Панама, Америка</li>
                    <li>Европа</li> -->
                </ul>
                <div class="map-wrp">
                    <div id="map"></div>
                    <div class="map-value-wrp">
                        <p class="city-main">Москва</p>
                        <div class="row">
                            <div class="col-lg-6 col-12">
                                <p class="map-value">
                                    <span>Адрес:</span>
                                    <span class="map-address">Москва, Новочеркасский пр-т, д. 41/14</span>
                                </p>
                                <p class="map-value">
                                    <span>Телефон:</span>
                                    <span class="map-phone">8 (800) 555-98-54</span>
                                </p>
                                <p class="map-value">
                                    <span>E-mail:</span>
                                    <span class="map-email">info@lenfincentr.ru</span>
                                </p>
                            </div>
                            <div class="col-lg-6 col-12">
                                <p class="map-value">
                                    <span>Режим работы:</span>
                                    <span class="map-rezhim">По будним дням с 10:00 до 19:00. Выходные с 11:00 до 18:00</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- 2 block  -->
    <section class="section-form">
        <div class="container">
            <div class="section-form-img">
                <img src="../../build/img/bg10.jpg" alt="">
            </div>
            <div class="row">
                <div class="offset-xl-1 offset-0 col-xl-10 col-12">
                    <h2>Оставьте заявку!</h2>
                    <p>Заполните и отправьте форму ниже. После этого, наш специалист свяжется с вами в&nbsp;ближайшее время, поможет подобрать программу сбережений и ответит на все вопросы</p>
                    <form id="valid1" action="#">
                        <div class="form-plashka">
                            <div class="input-flex">
                                <div class="input-style">
                                    <input class="input-form input-valid" type="text" data-input="name" name="name" placeholder="Имя*">
                                    <p class="input-error">Ошибка ввода</p>
                                </div>
                                <div class="input-style">
                                    <input class="input-form input-valid mask-phone" type="tel" data-input="phone" name="phone" placeholder="Номер телефона*">
                                    <p class="input-error">Ошибка ввода</p>
                                </div>
                            </div>
                            <textarea class="textarea-form" name="name" placeholder="Ваш комментарий"></textarea>
                            <label class="checkbox">
                                <input class="checkbox-check" type="checkbox">
                                <div class="checkbox__text">Я согласен с <a href="/policy"> политиками конфиденциальности</a></div>
                            </label>
                            <input class="form-btn btn-checkbox btn-checkbox-disabled" type="submit" name="" value="Связаться">
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </section>
</div>
