<div class="saving-page">
    <div class="saving-first pt144">
        <img src="../../build/img/save-bg.png" alt="">
        <div class="container">
            <div class="row">
                <div class="offset-xl-2 offset-lg-1 offset-0 col-xl-8 col-lg-10 col-12">
                    <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h2>
                    <ul class="stranger-list">
                        <li>
                            <p>17</p>
                            <p>Подано заявок</p>
                        </li>
                        <li>
                            <p>43</p>
                            <p>Обработано звонков</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- 2 block  -->
    <section class="main-prog">
        <div class="container">
            <p class="subtitle">сберегательные программы</p>
            <h2>Сравните варианты сберегательных программ и&nbsp;выберите подходящую для вас</h2>
            <div class="main-prog-wrp">
                <div class="main-prog-block">
                    <p class="main-prog-title">Пенсионная</p>
                    <ul class="main-prog-list">
                        <li>
                            <p>Валюта:</p>
                            <p>Рубль РФ</p>
                        </li>
                        <li>
                            <p>Порядок выплат:</p>
                            <p>Ежемесячно или в конце срока</p>
                        </li>
                        <li>
                            <p>Срок договора:</p>
                            <p>От 3 до 36 месяцев</p>
                        </li>
                        <li>
                            <p>Частичное снятие:</p>
                            <p>До 25% от суммы, без потери процентов</p>
                        </li>
                        <li>
                            <p>Досрочное расторжение:</p>
                            <p>Размер процентной ставки при досрочном расторжении: 0,1%.</p>
                        </li>
                        <li>
                            <p>Необходимые документы:</p>
                            <p>Паспорт</p>
                        </li>
                        <li>
                            <p>Начисление процентов:</p>
                            <p>Ежемесячно и выплачиваются по выбору клиента на личный счет в любом банке; в кассе МПК ПФ</p>
                        </li>
                    </ul>
                </div>
                <div class="main-prog-block">
                    <p class="main-prog-title">Сберегательная</p>
                    <ul class="main-prog-list">
                        <li>
                            <p>Валюта:</p>
                            <p>Рубль РФ</p>
                        </li>
                        <li>
                            <p>Порядок выплат:</p>
                            <p>Ежемесячно или в конце срока</p>
                        </li>
                        <li>
                            <p>Срок договора:</p>
                            <p>От 3 до 36 месяцев</p>
                        </li>
                        <li>
                            <p>Частичное снятие:</p>
                            <p>До 25% от суммы, без потери процентов</p>
                        </li>
                        <li>
                            <p>Досрочное расторжение:</p>
                            <p>Размер процентной ставки при досрочном расторжении: 0,1%.</p>
                        </li>
                        <li>
                            <p>Необходимые документы:</p>
                            <p>Паспорт</p>
                        </li>
                        <li>
                            <p>Начисление процентов:</p>
                            <p>Ежемесячно и выплачиваются по выбору клиента на личный счет в любом банке; в кассе МПК ПФ</p>
                        </li>
                    </ul>
                </div>
                <div class="main-prog-block">
                    <p class="main-prog-title">Инвестиционная</p>
                    <ul class="main-prog-list">
                        <li>
                            <p>Валюта:</p>
                            <p>Рубль РФ</p>
                        </li>
                        <li>
                            <p>Порядок выплат:</p>
                            <p>Ежемесячно или в конце срока</p>
                        </li>
                        <li>
                            <p>Срок договора:</p>
                            <p>От 3 до 36 месяцев</p>
                        </li>
                        <li>
                            <p>Частичное снятие:</p>
                            <p>До 25% от суммы, без потери процентов</p>
                        </li>
                        <li>
                            <p>Досрочное расторжение:</p>
                            <p>Размер процентной ставки при досрочном расторжении: 0,1%.</p>
                        </li>
                        <li>
                            <p>Необходимые документы:</p>
                            <p>Паспорт</p>
                        </li>
                        <li>
                            <p>Начисление процентов:</p>
                            <p>Ежемесячно и выплачиваются по выбору клиента на личный счет в любом банке; в кассе МПК ПФ</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="prog-screen-btn">Оформить заявку</div>
        </div>
    </section>
    <!-- 3 block  -->
    <section id="layer-calculator" class="calc-section">
        <div class="calc-bg">
            <img src="../../build/img/calc-bg.jpg" alt="">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-12">
                    <h2>Рассчитайте доходность ваших сбережений</h2>
                    <div class="calc__box">
                        <div class="calc__top">
                            <div class="calc__top-wrap">
                                <div class="calc__item">
                                    <div class="flex">
                                        <p class="calc__item-title">Хочу вложить</p>
                                        <p class="calc__item-value calc__item-value-summ">2 620 000 ₽</p>
                                    </div>
                                    <div class="calc__item-input calc__item-summ">
                                        <input type="range" class="rangeInput" value="1800000" min="10000"
                                            max="50000000" step="10000" oninput="rangeInput()">
                                    </div>
                                    <div class="flex predel">
                                        <p>10 000 ₽</p>
                                        <p>50 000 000 ₽</p>
                                    </div>
                                </div>
                                <div class="calc__item">
                                    <div class="flex">
                                        <p class="calc__item-title">На срок</p>
                                        <p class="calc__item-value-time">28 месяцев</p>
                                    </div>
                                    <div class="calc__item-input calc__item-time">
                                        <input type="range" class="rangePeriod" value="3" min="3" max="36" step="1"
                                            oninput="rangePeriod()">
                                    </div>
                                    <div class="flex predel">
                                        <p>3 мес.</p>
                                        <p>36 мес.</p>
                                    </div>
                                </div>
                                <div class="calc__item">
                                    <div class="flex">
                                        <p class="calc__item-title">Ежемесячно пополняя на</p>
                                        <p class="calc__item-value-rise">20 000 ₽</p>
                                    </div>
                                    <div class="calc__item-input calc__item-rise">
                                        <input type="range" class="rangeRefill" value="0" min="0" max="600000"
                                            step="10000" oninput="rangeRefill()">
                                    </div>
                                    <div class="flex predel">
                                        <p>0 ₽</p>
                                        <p>600 000 ₽</p>
                                    </div>
                                </div>
                                <div class="calc__item">
                                    <div class="calc__item-value">
                                        <div class="calc__item-checkbox">
                                            <input type="checkbox" class="calcCheck" name="" id="calcCheck">
                                            <label for="calcCheck">Хочу получать проценты ежемесячно</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 col-12">
                    <div class="calc__total">
                        <div class="calc__total-head">
                            <p class="calc__item-invest calc-cifri">18 285 960 ₽</p>
                            <p class="calc__total-title calc-text">Cумма инвестиций</p>
                        </div>
                        <div class="calc__total-head">
                            <p class="calc__total-result calc-cifri">18 285 960 ₽</p>
                            <p class="calc__total-title calc-text">Ваш потенциальный доход</p>
                        </div>
                        <div class="flex">
                            <div class="calc__total-item">
                                <p class="calc__total-value object-output-percent calc-cifri">10.8%</p>
                                <p class="calc__total-name calc-text">Доходность инвестиций</p>
                            </div>
                            <div class="calc__total-item">
                                <p class="calc__total-value calc__total-time calc-cifri">7 мес.</p>
                                <p class="calc__total-name calc-text">Срок инвестиций</p>
                            </div>
                        </div>
                        <div class="get-dohod">
                            Получить доход &nbsp;<span class="calc__total-profit">18 285 960</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
