<div class="reviews-page pt144">
    <div class="container">
        <h2>Отзывы</h2>
        <div class="rev-wrp">
            <div class="review-block">
                <div class="review-info">
                    <p class="rev-title">1Сальников П. И.</p>
                    <p class="rev-data">10.01.2020</p>
                    <div class="rev-text">
                        Глубоко признателен и благодарен за внимание, высокий профессионализм, оперативность в работе, умение привлечь клиента, заинтересовать его. Спасибо! Сальников П. И. Глубоко признателен и благодарен за внимание, высокий профессионализм, оперативность в работе, умение привлечь клиента, заинтересовать его. Спасибо! Сальников П. И.
                    </div>
                </div>
                <a href="../../build/img/rev1.png" class="review-img" data-fancybox>
                    <img src="../../build/img/rev1.png" alt="">
                </a>
            </div>
            <div class="review-block">
                <div class="review-info">
                    <p class="rev-title">2Сальников П. И.</p>
                    <p class="rev-data">10.01.2020</p>
                    <div class="rev-text">
                        Глубоко признателен и благодарен за внимание, высокий профессионализм, оперативность в работе, умение привлечь клиента, заинтересовать его. Спасибо! Сальников П. И. Глубоко признателен и благодарен за внимание, высокий профессионализм, оперативность в работе, умение привлечь клиента, заинтересовать его. Спасибо! Сальников П. И.
                    </div>
                </div>
                <a href="../../build/img/rev1.png" class="review-img" data-fancybox>
                    <img src="../../build/img/rev1.png" alt="">
                </a>
            </div>
            <div class="review-block">
                <div class="review-info">
                    <p class="rev-title">3Сальников П. И.</p>
                    <p class="rev-data">10.01.2020</p>
                    <div class="rev-text">
                        Глубоко признателен и благодарен за внимание, высокий профессионализм, оперативность в работе, умение привлечь клиента, заинтересовать его. Спасибо! Сальников П. И. Глубоко признателен и благодарен за внимание, высокий профессионализм, оперативность в работе, умение привлечь клиента, заинтересовать его. Спасибо! Сальников П. И.
                    </div>
                </div>
                <a href="../../build/img/rev1.png" class="review-img" data-fancybox>
                    <img src="../../build/img/rev1.png" alt="">
                </a>
            </div>
            <div class="review-block">
                <div class="review-info">
                    <p class="rev-title">4Сальников П. И.</p>
                    <p class="rev-data">10.01.2020</p>
                    <div class="rev-text">
                        Глубоко признателен и благодарен за внимание, высокий профессионализм, оперативность в работе, умение привлечь клиента, заинтересовать его. Спасибо! Сальников П. И. Глубоко признателен и благодарен за внимание, высокий профессионализм, оперативность в работе, умение привлечь клиента, заинтересовать его. Спасибо! Сальников П. И.
                    </div>
                </div>
                <a href="../../build/img/rev1.png" class="review-img" data-fancybox>
                    <img src="../../build/img/rev1.png" alt="">
                </a>
            </div>
            <div class="review-block">
                <div class="review-info">
                    <p class="rev-title">5Сальников П. И.</p>
                    <p class="rev-data">10.01.2020</p>
                    <div class="rev-text">
                        Глубоко признателен и благодарен за внимание, высокий профессионализм, оперативность в работе, умение привлечь клиента, заинтересовать его. Спасибо! Сальников П. И. Глубоко признателен и благодарен за внимание, высокий профессионализм, оперативность в работе, умение привлечь клиента, заинтересовать его. Спасибо! Сальников П. И.
                    </div>
                </div>
                <a href="../../build/img/rev1.png" class="review-img" data-fancybox>
                    <img src="../../build/img/rev1.png" alt="">
                </a>
            </div>
        </div>
        <div class="show-rev-btn">показать еще</div>
    </div>
</div>
